{% extends 'base.twig' %}

{% block title %}{{ code }}{% endblock %}
{% block head %}
    <meta name="robots" content="noindex, nofollow"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <div class="text-center">
                    <h1>
                        Oops!</h1>
                    <h2>
                        Error {{ code }}</h2>
                    <div class="error-details">
                        {{ message }}
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Take Me Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}